

.login-box{
    width: 45%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #fddbbb87;
    margin-right: 10px;
    border-radius: 25px;
    h2{
        font-size: 2.5rem;
        

    }
    input{
        margin: 10px 0;
        width: 294px;
        height: 30px;
        background-color: #ffffffad;
        border: 1px solid grey;
        border-radius: 3px;
        outline: none;
        padding: 0 3px;
    }
    form>button{
        width: 300px;
        height: 30px;
        border: 1px solid grey;
        border-radius: 8px;
        background-color: #fddbbb87;
        

    }
    h3>button{
        width: 100px;
        height: 30px;
        border: 1px solid grey;
        border-radius: 8px;
        background-color: rgb(106, 62, 21);
        color: white;
    }
}

#showbtn{
    width: 50px;
    transform: translate(-60px);
    background-color: rgba(250, 235, 215, 0);
    height: 20px;
    border: none;
}