nav{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    margin: 5px;
    input{
        margin: 10px 0;
        width: 294px;
        height: 40px;
        background-color: #ffffffad;
        border: 1px solid grey;
        border-radius: 3px;
        outline: none;
        padding: 0 3px;
    }
    .searchbtn{
        cursor: pointer;
        transform: translate(-110px);
        width: 100px;
        height: 30px;
        border: 1px solid grey;
        border-radius: 8px;
        background-color: rgb(106, 62, 21);
        color: white;
    }
}
.profile{
    display: flex;
    width: 10%;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    div{
        width: 20px;
    }
    button{
        width: 100px;
        height: 30px;
        border: 1px solid grey;
        border-radius: 8px;
        background-color: rgb(106, 62, 21);
        cursor: pointer;
        color: white;
    }
}